<ion-view title="Objectives">
  <ion-content class="padding-horizontal">
    <ion-nav-buttons side="right">
      <button class="button" ui-sref="app.objectives.edit">
        Edit
      </button>
    </ion-nav-buttons>

    <button ng-hide="objectives.all" id="sign-in" class="button button-block button-assertive" ng-click="objectives.signIn()">
      <i class="ion-social-github"> </i>Sign In
    </button>

    <section ng-show="objectives.all" class="profile list card">

      <section class="level" ng-repeat="(key, value) in objectives.all | groupBy: 'level'">
        <ion-item class="item-divider">
        Level {{ key }}
        </ion-item>
        <ion-item class="item-icon-right" ng-repeat="objective in value">
        <div class="objective.color" ui-sref="app.objectives.detail({objectiveId: objective.id})">
          {{ objective.title }}
        </div>
        <i ng-show="objective.completed" class="icon ion-checkmark-round balanced"></i>
        </ion-item>
      </section>
    </section>
</ion-view>
