<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="lib/vendor.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="app/app.js"></script>
    <script src="app/profile.js"></script>
    <script src="app/objectives.js"></script>
    <script src="app/authentication.js"></script>
    <script src="app/users.js"></script>
    <script src="app/user.js"></script>
    <script src="app/login.js"></script>
  </head>

  <body ng-app="unacademic">
    <ion-tabs class="tabs-positive tabs-icon-only">
      <ion-tab title="Home" ng-controller="Profile as vm" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline">
        <ion-header-bar class="bar-positive">
          <h1 class="title">{{ vm.pageTitle }}</h1>
        </ion-header-bar>

        <ion-content class="padding-horizontal">
          <button ng-hide="vm.user.id" id="sign-in" class="button button-block button-assertive" ng-click="vm.signIn()()">
            <i class="ion-social-github"> </i>Sign In
          </button>
          <section ng-show="vm.user.profile" class="profile list card">

            <div class="item item-avatar">
              <img src="http://calitreview.com/images/Rembrandt_Sheet%20of%20Studies%20with%20Self-Portrait_Rijksmuseum_7.jpg">
              <h2 class="profile-id">{{ vm.user.profile.id }}</h2>
              <h3>{{ vm.user.profile.role }}</h3>
            </div>

            <div class="item item-body">
              <img class="full-image" src="https://avatars.githubusercontent.com/u/1780358?v=2">
            </div>

            <a href="#" class="item item-icon-left">
              <i class="icon ion-person assertive"></i>
              {{ vm.user.profile.name.full}}
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios7-speedometer assertive"></i>
              Level: {{ vm.user.profile.level }}
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios7-bookmarks assertive"></i>
              {{ vm.user.profile.study }}
            </a>
            <button id="sign-out" class="button button-block button-assertive" ng-click="vm.signOut()()">
              <i class="ion-social-github"> </i>Sign Out
            </button>
          </section>
        </ion-content>
      </ion-tab>

      <ion-tab title="About" ng-controller="Profile as vm" icon-on="ion-ios7-clock" icon-off="ion-ios7-clock-outline">
        <ion-header-bar class="bar-positive">
          <h1 class="title">{{ vm.pageTitle }}</h1>
        </ion-header-bar>
        <ion-content class="padding-horizontal">

          <button ng-hide="vm.user.id" id="sign-in" class="button button-block button-assertive" ng-click="vm.signIn()()">
            <i class="ion-social-github"> </i>Sign In
          </button>
          <section ng-show="vm.user.objectives" class="profile list card">

            <section class="level" ng-repeat="(key, value) in vm.user.objectives | groupBy: 'level'">
              <ion-item class="item-divider">
              Level {{ key }}
              </ion-item>
              <ion-item class="item-icon-right" ng-repeat="objective in value">
                <div ng-click="objectives.goHome(objective.id)">
                  {{ objective.title }}
                </div>
                <i ng-show="objective.completed" class="icon ion-checkmark-round balanced"></i>
              </ion-item>
            </section>
          </section>
        </ion-content>
      </ion-tab>
    </ion-tabs>
  </body>
</html>
