<ion-view title="My Places">
  <ion-content class="padding-horizontal">

    <button ng-hide="places.all" id="sign-in" class="button button-block button-assertive" ng-click="places.signIn()">
      <i class="ion-social-github"> </i>Sign In
    </button>

    <section ng-hide="places.empty()" class="profile">
      <section class="list card level" ng-repeat="(key, value) in places.all | groupBy: 'level'">
        <ion-item class="item-divider item-dark">
        Level {{ key }}
        </ion-item>
        <ion-item class="item-icon-right" ng-repeat="place in value">
          <div ui-sref="app.userplaces.detail({placeId: place.id})">
            {{ place.title }}
          </div>
          <i ng-show="place.completed" class="icon ion-checkmark-round balanced"></i>
        </ion-item>
      </section>
      <button class="button button-full button-dark" ui-sref="app.userplaces.edit">
        Add Places
      </button>
    </section>
    <button ng-show="places.empty()" class="button button-full button-assertive" ui-sref="app.userplaces.edit">
      Add Places
    </button>
  <ion-content>
</ion-view>
