<ion-view title="News">
  <ion-content class="padding-horizontal">
    <section class="profile list card" ng-repeat="message in [1,2,3]">
      <ion-item class="item-divider item-dark">
        News Flash
      </ion-item>
        <ion-item class="item-text-wrap">
          You can also use relative state paths within ui-sref, just like the 
          relative paths passed to state.go(). You just need to be aware that 
          the path is relative to the state that the link lives in, in other 
          words the state that loaded the template containing the link.
        </ion-item>
    </section>
  </ion-content>
</ion-view>
