<ion-view title="Objectives">
  <ion-content class="padding-horizontal">

    <button ng-hide="vm.user.id" id="sign-in" class="button button-block button-assertive" ng-click="vm.signIn()()">
      <i class="ion-social-github"> </i>Sign In
    </button>

    <section ng-show="vm.user.objectives" class="profile list card">
      <section class="level" ng-repeat="(key, value) in vm.user.objectives | groupBy: 'level'">
        <ion-item class="item-divider">
        Level {{ key }}
        </ion-item>
        <ion-item class="item-icon-right" ng-repeat="objective in value">
        <div ng-click="objectives.goHome(objective.id)">
          {{ objective.title }}
        </div>
        <i ng-show="objective.completed" class="icon ion-checkmark-round balanced"></i>
        </ion-item>
      </section>
    </section>

  </ion-content>
</ion-view>
