<ion-view title="Profile">
  <ion-content class="padding-horizontal">
    <button ng-hide="user.id" id="sign-in" class="button button-block button-assertive" ng-click="vm.signIn()()">
      <i class="ion-social-github"> </i>Sign In
    </button>
    <section ng-show="user.id" class="profile list card">

      <div class="item item-avatar">
        <img ng-src="{{user.avatar_url}}">
        <h2 class="profile-id">{{ user.id }}</h2>
        <h3>{{ user.role }}</h3>
      </div>

      <div class="item item-body">
        <img class="full-image" ng-src="{{ user.portrait_url }}">
      </div>

      <div href="#" class="item item-icon-left">
        <i class="icon ion-person assertive"></i>
        {{ user.name.full}}
      </div>

      <div href="#" class="item item-icon-left">
        <i class="icon ion-ios7-speedometer assertive"></i>
        Level: {{ user.level }}
      </div>

      <div href="#" class="item item-icon-left">
        <i class="icon ion-ios7-bookmarks assertive"></i>
        {{ user.study }}
      </div>
      <button id="sign-out" class="button button-block button-assertive" ng-click="user.signOut()()">
        <i class="ion-social-github"> </i>Sign Out
      </button>
    </section>
  </ion-content>
</ion-view>
